* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* nav bar  design  */
nav {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.s-m {
  margin-left: 5vw;
  margin-right: 5vw;
}

.logo {
  color: #ffac09;
  font-family: "Josefin Sans", sans-serif;
  font-size: x-large;
}

.nav-links a {
  text-decoration: none;
}

.btn-login {
  background-color: #ffac09;
  padding: 0.6rem 3.4rem 0.5rem 3.4rem;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 10px;
}
.btn-register {
  color: #ffac09;
  padding: 0.5rem 3rem 0.5rem 3rem;
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
  border: 1px solid #ffac09;
  font-weight: bold;
  border-radius: 3px;
}
/* middel session */
.tagline {
  width: 40%;
}
.tagline h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  color: #ffac09;
  padding-top: 20rem;
  margin-bottom: 1rem;
}
.image-container {
  width: 60%;
}

.image-container img {
  position: relative;
  width: 100%;
}
.main-container {
  display: flex;
}

.btn-container {
  margin-top: 3rem;
}

.btn-container a {
  padding: 0.5rem 6rem 0.5rem 6rem;
  letter-spacing: 1px;
  font-size: 17px;
}

p {
  font-family: "Nunito", sans-serif;
  line-height: 35px;
  font-weight: 800;
  color: gray;
  font-size: 20px;
}
hr {
  width: 99.8%;
  color: #ffac09;
}

.avtar {
  width: 100%;
  background-color: aqua;
}
.avtar-container {
  background-color: #ffac09;
  width: 60px;
  border-radius: 70%;
  overflow: hidden;
  position: relative;
  left: 35%;
  top: -50%;
}
.card {
  padding: 1rem;
  width: 200px;
  border-radius: 30px 30px 0px 0px;
  background-color: #ffac09;
  text-align: center;
}

.contributor-text {
  text-align: center;
  margin-top: 1rem;
   font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  color: #ffac09;
}
.info {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #ffffff;
}

.row {
  display: flex;
  justify-content: space-between;
}

.contributer{
    margin-top: 5rem;
}
.made-with{
 position: absolute;
 top: 95%;
 left:47%
}
.made-with h6{
  text-align: center;
    font-size: 1rem;
    color: gray;
}
.fa-heart{
    color: red;
}
.fa-city{
    color: blue;
}